.list--unordered{
	padding: 18px 0;
	color: $blue2;
	margin-bottom: 0;
	li{
		position: relative;
		padding-left: 22px;
		margin-bottom: 8px;
		&:before{
			font-family: FontAwesome;
			font-size: 14px;
			line-height: 1;
			content: "\f0a9";
			position: absolute;
			left: 0;
			top: 6px;
			text-rendering: auto;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
	}
}




/* Adjusting height to auto to the elements below the screen size 640px.
 * which is given by js to make the sibling blocks of same height.
 */
.js-same-height{
	@media only screen and (max-width: 639px){
		height: auto !important;
	}
}





/*
* This is a common styles for different list within the about us page
* Services, Values, etc..
*/
.has-list{
	.icon-holder{
		width: 48px;
		height: 48px;
		border: 2px solid $yellow;
		text-align: center;
		.fa{
			line-height: 44px;
			font-size: 27px;
			color: $yellow;
		}
	}
	.text-holder{
		overflow: hidden;
		padding-left: 18px;
	}
	h3{
		color: $yellow;
		font-size: 27px;
		line-height: 48px;
		font-weight: 600;
		margin-bottom: 12px;
		@media only screen and (max-width: $screen-xs-max){
			font-size: 22px;
		}
	}
}





/* ==========================================================================
   Section heading
   ========================================================================== */
.section-heading{
	margin: 0 0 44px;
	h2,
	h1{
		font-size: 40px;
		font-weight: 600;
		margin: 0 0 20px;
		color: $black;
		@media only screen and (max-width: $screen-xs-max){
			font-size: 27px;
		}
	}
}





/* ==========================================================================
   Cards layout
   ========================================================================== */
.card{
  color: $gray14;
  background: $white;
  margin-bottom: 27px;
}
.card__img-holder{
  img{
    height: 238px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.card__title{
  font-size: 22px;
  line-height: 27px;
  font-weight: 500;
  color: $black;
  margin-bottom: 12px;
}
.card__content{
  padding: 27px;
  p{
    font-size: 14px;
    line-height: 22px;
  }
}
.card__footer{
  padding: 18px 27px;
  background: $gray-light;
  .card__btn-more{
    color: $black;
    border-bottom: 2px solid $blue3;
    &:hover{
      color: $blue3;
    }
  }
}


/* ==========================================================================
   Backgrounds
   ========================================================================== */
.bg--white{
	background:  $white;
}

/* ==========================================================================
   Custom Forms
   ========================================================================== */

/* Radio Module
   ========================================================================== */
   .label--radio{
   	margin: 0 18px 8px 0;
   	font-size: 14px;
   	font-weight: 400;
   	text-transform: uppercase;
   	color: $white;
   	.jcf-radio{
   		background: $white;
   		border: 2px solid $blue;
   		border-radius: 50%;
   		cursor: default;
   		display: inline-block;
   		margin: 0 8px 0 0;
   		height: 27px;
   		overflow: hidden;
   		position: relative;
   		vertical-align: middle;
   		width: 27px;
   		&.jcf-checked{
   			background: $blue;
   		}
   		span{
   			display:none;
   			position:absolute;
   			top:4px;
   			left:4px;
   			right:4px;
   			bottom:4px;
   			background:$white;
   			border-radius:100%;
   		}
   		&.jcf-checked{
   			span{
   				display: block;
   			}
   		}
   	}
   }
.jcf-radio input[type="radio"] {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 0;
  margin: 0;
  left: 0;
  top: 0;
}
/* Select Module
   ========================================================================== */
   .jcf-select{
   	border: 1px solid $blue2;
   	color: $black;
   	background: $white;
   	display: block;
   	height: 40px;
   	overflow: hidden;
   	position: relative;
   	width: 100%;
   	.jcf-select-text{
   		display: block;
   		margin: 0 40px 0 0;
   		overflow: hidden;
   		-ms-text-overflow: ellipsis;
   		text-overflow: ellipsis;
   		white-space: nowrap;
   	}
   	.jcf-select-opener{
   		border-left: 8px solid transparent;
   		border-right: 8px solid transparent;
   		border-top: 14px solid $blue;
		bottom: 0;
		height: 0;
		margin-top: -4px;
		position: absolute;
		right: 13px;
		top: 50%;
		width: 0;
   	}
   }
   .jcf-select-form-control{
   	font-size: 16px;
   	line-height: 24px;
   	padding: 8px 13px;
   }
   .jcf-select-drop{
   	padding: 0;
   	.jcf-select-drop-content{
   		border-top: 1px solid $gray-light;
   	}
   	.jcf-hover{
   		background: $blue2;
   		color: $white;
   	}
   }
   .jcf-list{
   	display: block;
   	background: $white;
   	width: 100%;
   	.jcf-list-content{
   		display: inline-block;
   		vertical-align: top;
   		overflow: auto;
   		width: 100%;
   	}
   	ul{
   		list-style: none;
   		margin: 0;
   		padding: 0;
   		li{
   			overflow: hidden;
   			display: block;
   		}
   	}
   	.jcf-option{
   		cursor: default;
   		display: block;
   		overflow: hidden;
   		padding: 4px 13px;
   		white-space: nowrap;
   	}
   }
/* Checkbox module
  ========================================================================== */
  .jcf-checkbox {
  	background: $white;
  	border: 1px solid $gray-lighter;
  	border-radius: 2px;
  	cursor: default;
  	display: inline-block;
  	float: left;
  	height: 18px;
  	margin: 0 8px 0 0;
  	overflow: hidden;
  	position: relative;
  	vertical-align: top;
  	width: 18px;
  	&.jcf-checked{
  		&:before{
  			content: '\f00c';
  			display: block;
  			font-family: FontAwesome;
  			-webkit-font-feature-settings: normal;
  			        font-feature-settings: normal;
  			-webkit-font-kerning: auto;
  			        font-kerning: auto;
  			-webkit-font-language-override: normal;
  			        font-language-override: normal;
  			font-size: 16px;
  			font-size-adjust: none;
  			font-stretch: normal;
  			font-style: normal;
  			font-synthesis: weight style;
  			font-variant: normal;
  			font-weight: normal;
  			line-height: 18px;
  			text-rendering: auto;
  			color: $gray-dark;
  		}
  	}
  }
  .jcf-checkbox input[type="checkbox"] {
  	position: absolute;
  	width: 100%;
  	height: 100%;
  	border: 0;
  	margin: 0;
  	left: 0;
  	top: 0;
  }