.block--resource{
	.title{
		a{
			display: block;
			color: inherit;
			@media only screen and (min-width: $screen-sm-min){
				cursor-events: none;
			}
			@media only screen and (max-width: $screen-xs-max){
				position: relative;
				&:after{
					content: "\f068";
					font-family: FontAwesome;
					position: absolute;
					font-size: 18px;
					line-height: 1;
					color: $blue2;
					right: 0;
					top: 3px;
				}
				&.collapsed:after{
					content: "\f067";
				}
			}
		}
	}
	.list {
		li.resource__category{
			margin-bottom: 0;
		}
	}
	.panel-title{
		position: relative;
		@extend %clearfix;
	}
	.resource__category-title{
		display: inline-block;
		float: left;
		font-size: 15px;
		font-weight: 600;
		color: $gray-dark;
		position: relative;
		z-index: 2;
	}
}
.resource{
	&.collapse{
		@media only screen and (min-width: $screen-sm-min){
			display: block;

		}
	}
}
.resource__category{
	border: none;
	border-radius: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
	.panel-title{
		span{
			position: relative;
			text-align: right;
			display: block;
			min-height: 19px;
			&:after{
				content: "\f068";
				font-family: FontAwesome;
				position: absolute;
				font-size: 18px;
				line-height: 1;
				color: $blue2;
				right: 0;
				top: 3px;
			}
			&.collapsed:after{
				content: "\f067";
			}
		}
	}
	.panel-body{
		background: $white;
		padding: 0 0 0 15px;
		.list{
			li{
				border-bottom: 1px solid $gray-light;
				position: relative;
				padding: 8px 30px 8px 0;
				margin-bottom: 0;
				font-weight: 400;
				&{
					&:last-child{
						border-bottom: none;
					}
					&:after{
						font-family: FontAwesome;
						content: "\f054";
						position: absolute;
						right: 15px;
						top: 12px;
						font-size: 18px;
						line-height: 1;
					}
				}
			}
		}
	}
}
.resource__opener{
	position: relative;
	top: -3px;
	font-size: 18px;
	line-height: 1;
	&:before{
		color: $blue2;
	}
}

/* Resources articles */

.resources__articles{
	@media only screen and (min-width: $screen-xs-min) and (max-width: $screen-xs-max){
		.post-card{
			overflow: hidden;
			height: auto !important;
			.post-thumb-img{
				float: left;
				width: 33.33%;
			}
			.post-title{
				font-size: 14px;
			}
			.post-card-content{
				overflow: hidden;
			}
		}
	}
}